body {
	border: 2px deepskyblue;
	background: black;
	color:#EBFCFC;
	font-family: sans-serif;
}

h1 {
	clear: left;
	font-size: 40px;
	text-align: left;
	font-weight: bold;
	margin-left: 20px;
	font-family: roboto, serif;
}

h2 {
	text-align: left;
	font-weight: 600;
	margin-left: 5px;
}

h3 {
	font-weight: 550;
	margin-left: 25px;
}

.wrapper {
	position: relative;
	max-width: 50%;
	clear: left;
	float: right;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
}

.container {
	padding: 15px;
	clear: both;
	column-count: 2;
	column-width: 150px;
	display: flex;
}

.multi-column-text {
	columns: 3 auto;
}


article {
	background-color: #141313;
}



p {
	margin: 5% 50px;
	clear: both;
	background-color: #141313;
	border: 2px solid white;
	border-radius: 5px;
	text-align: left;
	max-width: 80ch;
	font-size: 18px;
	padding: 5px;
}

.first-p{
	float: right;
	display: flex;
	flex-wrap: wrap;
	margin: 5% 20px;
	font-size: 18px;
}

.blockquote {
	border: none;
	clear: both;
	text-align: center;
	margin: auto;
	font-size: 32px;
}

ul {
	list-style-type: none;
	margin-left: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

li {
	float: left;
}	
li a {
	display: block;
	color: #EBFCFC;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

header,footer {
	font-family: "Times New Roman", serif;
}

figure{
	max-width: 70%;
	margin: auto;
	float: left;
	vertical-align: top;
}

.figure img {
	max-width: 100%;
	height: auto;
	display: block;
}

.video-container video {
	width: 500px;
	height: auto;
	vertical-align: top;
	display: flex;
}

table {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.iatf {
	float: left;
	clear: both;
	max-width: 50%;
}